gcp:
  hosts:
    us_east:
      ansible_connection: ssh
      ansible_host: ****
      # user
      ansible_user: ****
      # root
      ansible_become_password: ****
    vultr:
      ansible_connection: ssh
      ansible_host: ****
      # user
      ansible_user: root
      ansible_password: ****
      # root
      ansible_become_password: ****
